<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../assets/myStyle.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="../assets/modjQuery.js"></script>
  <title>Administrator</title>
</head>
<body>
  <div class="col-sm-5 col-sm-offset-4 modFormBorder col-xs-10 col-xs-offset-1">

    <form>
      <div class="form-group">
        <div class="inner-addon left-addon modMarginInput">
          <i class="fa fa-user"></i>
          <input type="text" id="username" class="form-control modBtnStrands" placeholder="Username.."/>
        </div>

        <div class="inner-addon left-addon">
          <i class="fa fa-unlock-alt"></i>
          <input type="password" id="password" class="form-control modBtnStrands" placeholder="Password.."/>
        </div>


        <div class="col-sm-4 col-sm-offset-8 col-xs-5 col-xs-offset-7">
          <div class="row">
            <input type="submit" class='btn btn-success btn-block modBtnStrands' value="Login">
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-8 col-xs-5 col-xs-offset-7">
          <div class="row">
            <a href="/" class='btn btn-default btn-block modBtnStrands'>Cancel</a>
          </div>
        </div>

      </div>
    </form>
  </div>
</body>
</html>

<script>


$(document).ready(function(){

  $('form').submit(function(){
    var username = $('#username').val();
    var password = $('#password').val();

    $.post("http://localhost:3000/login",{
      username: username,
      password: password
    });

    window.location.href="admin";
    return false;

  })
});

</script>



<style>


.removeElement::-webkit-scrollbar { width: 0 !important }

*{
  padding:0;
  margin:0;
}

.modCaptcha{
  float:right;
}
.modImg{

}

.modMarginInput{
  margin-top:30px;
}

.inner-addon {
    position: relative;
}

.btn{
  margin-bottom:5px;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.modFormBorder{
  padding:15px;
  border:1px solid rgb(160,160,160);
  height:400px;
  margin-top:10px;
  background-color:white;
}

.modFormBorder input, i{
  letter-spacing:1px;
  color:#37474F;
  margin-bottom:10px;
}


.modHeaderParent{
  margin:0;
  padding-left:5px;
  background-color:#263238;
}

.modSticky{
  margin-bottom:50%;
}
.h2, .h3{
  margin:0;
  padding:10px 5px;
  color:#A3AFB7;
}

.modFonts{
  font-family:tahoma;
  letter-spacing:2px;
}

.modFontsUser{
  padding:0;
  font-family:tahoma;
  letter-spacing:1px;
  color: #A3AFB7;
  float:right;
}

.modFontsUser:hover{
  font-family:tahoma;
  letter-spacing:1px;
  color: white;
  text-decoration:none;
}

.liActive, .liActive i, .liActive .modFonts{
  background-color:#37474F;
  color:#B8D7FF;
}

.modSideNav{
  width:100%;
  display:block;
  padding:6px 0;
  margin-left:10px;
  color:#A3AFB7;
  font-size:16px;
  font-family:arial;
}

.signOutBtn{
  color:#FFBFC1;
}

.modParentNav li:hover{
  background-color:#37474F;
  transition:.5s;
}

.modParentNav li{
  border-bottom:1px solid #37474f;
  list-style:none;
  margin:0;

}

.modSideNav:hover{
  color:white;
  transition:.5s;
}


.modHeaderContainer{
  padding:0;
}

.modBodyContainer{
  padding:0;
  height:95vh;
}

.modChildBody{
  height:100%;
  max-height:92vh;
  margin:0;
  min-height:390px;
}

.modNav{
  border-top:1px solid #37474F;
  padding:0;
  min-height:390px;
  min-width:40px;
}

.modNav,  .modChildHead{
  background-color:#263238;
}


.modBtnStrands{
  border-radius:0;
}

</style>
